@import reset

body
  font-family: 'Source Sans Pro', sans-serif
  background-color: #84784A
.main-img
  width: 100%

nav
  background-color: #A0C6D2
  display: flex
  justify-content: space-between

.inline
  display: inline

.nav

  &-item
    position: relative
  &-item-a
    padding-left: 1em
    color: #fff
    padding-right: 1em
    font-size: 1.5em
    text-decoration: none
    padding-top: 1em
    padding-bottom: 1em
    &:hover
      color: #000
      text-decoration: none
      background-color: #fff
    &-hovered
      color: #000
      text-decoration: none
      background-color: #fff

  &-list
    padding-top: 1em
    margin-bottom: 1em

.myCustomClass
  border: none
  background-color: rgba(0,0,0,0)
  pointer-events: none



.myCustomClass .qtip-content
  font-size: 2em
  color: #fff
  line-height: 1em
  width: 350px
  p
    color: yellow

//film
.film-sub
  display: none
  position: absolute
  top: 47px
  left: 3px
  width: 40vw
  background: #fff
  color: #000
  padding: 1em
  font-size: 1.2em
  line-height: 1.1em
.film-item
  margin-bottom: 3em
// garten
.garten-sub
  display: none
  position: absolute
  top: 47px
  left: 3px
  width: 40vw
  background: #fff
  color: #000
  padding: 1em
  font-size: 1.2em
  line-height: 1.1em
.garten-item
  margin-bottom: 3em
// dorf
.dorf-sub
  display: none
  position: absolute
  top: 47px
  left: 4px
  width: 40vw
  background: #fff
  color: #000
  padding: 1em
  font-size: 1.2em
  line-height: 1.1em
.dorf-item
  margin-bottom: 3em
// info
.info-sub
  display: none
  position: absolute
  top: 47px
  right: 0px
  width: 40vw
  background: #fff
  color: #000
  padding: 1em
  font-size: 1.2em
  line-height: 1.1em
.info-item
  margin-bottom: 3em

.bold
  font-weight: 900
