html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

.adjust-height{
  transform: translateY(-14px);
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after {
    content: '';
    content: none;
}

q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #84784A;
}

.main-img {
    width: 100%;
}

nav {
    background-color: #A0C6D2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.inline {
    display: inline;
}

.nav-item {
    position: relative;
}

.nav-item-a {
    padding-left: 1em;
    color: #fff;
    padding-right: 1em;
    font-size: 1.5em;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
}
.nav-item-a-logo {
    padding-left: 1em;
    color: #fff;
    padding-right: 1em;
    font-size: 1.5em;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
}
.underline{
  text-decoration: underline;
}
.film-item-side{
width: 100px;
padding-top: 4em;
padding-left: 2em;
}
.nav-item-a:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
}
.nav-item-a-logo:hover {
    color: #fff;
    text-decoration: underline;
}

img{
  padding-bottom: 1em;
}

.nav-item-a-hovered {
    color: #000;
    text-decoration: none;
    background-color: #fff;
}

.nav-list {
    padding-top: 1em;
    margin-bottom: 1em;
}
.fluid{
  width: 100%;
}
.myCustomClass {
    border: none;
    background-color: transparent;
    pointer-events: none;
}

.myCustomClass .qtip-content {
    font-size: 2em;
    color: #fff;
    line-height: 1em;
    width: 350px;
}

.myCustomClass .qtip-content p {
    color: #ff0;
}
.film-sub-wrapper{
  display: flex;
}

h2{
  padding-top: 1em;
  padding-bottom: 1em;
}
p{
  padding-top: 1em;
  padding-bottom: 1em;
}


.film-sub {
    display: none;
    position: absolute;
    top: 42px;
    left: 0px;
    width: 900px;
    background: #fff;
    color: #000;
    padding: 2em;
    font-size: 1.2em;
    line-height: 1.1em;
}

.film-item {
    margin-bottom: 3em;
    width: 600px;
}
.sublogo{
  margin-left: 1em;
}
.arrow{
position: absolute;
top: 70%;
left: 48%;
width: 40px;
}

.garten-sub {
    display: none;
    position: absolute;
    top: 42px;
    left: 0px;
    width: 800px;
    background: #fff;
    color: #000;
    padding: 1em;
    font-size: 1.2em;
    line-height: 1.1em;
}

.garten-item {
    margin-bottom: 3em;
}

.dorf-sub {
    display: none;
    position: absolute;
    top: 42px;
    left: 0px;
    width: 40vw;
    background: #fff;
    color: #000;
    padding: 1em;
    font-size: 1.2em;
    line-height: 1.1em;
}

.dorf-item {
    margin-bottom: 3em;
}

.info-sub {
    display: none;
    position: absolute;
    top: 42px;
    right: 0;
    width: 40vw;
    background: #fff;
    color: #000;
    padding: 1em;
    font-size: 1.2em;
    line-height: 1.1em;
}

.info-item {
    margin-bottom: 3em;
}

.bold {
    font-weight: 900;
}
